<div class="result">
  <table class="table table-striped" ng-if="narrowCtrl.found.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th>Remove?</th>
      </tr>
    </thead>
    <tr ng-repeat="item in narrowCtrl.found">
      <td>{{ item.name }}</td>
      <td> {{ item.short_name }}</td>
      <td>{{ item.description }}</td>
      <td><button ng-click="narrowCtrl.onRemove({index: $index});">Don't want this one!</button></td>
    </tr>
  </table>
  <div class="error" ng-if="narrowCtrl.displayError()">Nothing found!</div>
</div>
